// shared button styles
.btn {
	padding-left: 20px;
	padding-right: 20px;
	transition: background 0.4s ease, color 0.3s ease;
	cursor: pointer;
	
	// svg is added through JS
	svg {
		fill: currentColor;
		height: 0.7em;
		margin-left: 8px;
		vertical-align: center;
	}

	.glyphicon ~ svg {
		display: none;
	}

	// quantity query: apply margin if > 1 button
	&:nth-last-child(n+2) ~ .btn { 
		margin-left: 0.7em;
	}
}

// default buttons: white with red border
.btn-default {
	@include hocus {
		background: $btn-default-color;
		color: $btn-default-bg;
		border-color: $btn-default-color;
	}

	// popup exception
	.popup & {
		border-color: white;
	}
}

.btn-down svg {
	transform: rotate(90deg);
}

.btn-inverted {
	color: $btn-inverted-color;
	background-color: $btn-inverted-bg;
	border-color: $btn-inverted-border;


	@include hocus {
		background: $btn-inverted-color;
		color: $brand-primary;
	}
}


// button with icon
.btn-icon {
	color: $white;
	border-color: $white;
	background: rgba($brand-primary, 0.5);
}

