/* example
@font-face {
    font-family: 'Akzidenz Grotesk Con Bold';
    src: url('../fonts/akzidenzgroteskbe-boldcn-webfont.eot');
    src: url('../fonts/akzidenzgroteskbe-boldcn-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/akzidenzgroteskbe-boldcn-webfont.woff') format('woff'),
         url('../fonts/akzidenzgroteskbe-boldcn-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

} 
*/

$font-name: "glyphicons-halflings-regular";
@font-face {
	font-family: 'Glyphicons Halflings';
	src: url('../fonts/bootstrap/#{$font-name}.eot');
	src: url('../fonts/bootstrap/#{$font-name}.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/bootstrap/#{$font-name}.woff2') format('woff2'),
		 url('../fonts/bootstrap/#{$font-name}.woff') format('woff'),
		 url('../fonts/bootstrap/#{$font-name}.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}