.stats {
	animation: fadein 3s;
	padding: 0;
	width: 100%;

	.stat {
		background-color: #b690c3;
		border: $border-width solid black;
		color: black;
		font-weight: bold;
		padding: 10px;
		text-align: center;
		text-transform: uppercase;
		width: 100%;
		margin-bottom: 10px;

		.count {
			color: black;
			display: block;
			font-size: 6em;
			font-weight: bold;
		}

		.character {
			color: white;
		}

		.amount {
			color: black;
			font-size: 0.5em;
		}
	}

	// tablets and desktops: flex box
	@media screen and (min-width: $screen-phone){
		display: flex;
		justify-content: space-between;

		.stat {
			width: 45%;
			margin: 0;
		}
	}

}